.css-qh7kl5-MuiPaper-root {
  margin-top: 40px;
  padding: 20px;
}

.css-qh7kl5-MuiPaper-root Button {
  margin-top: 20px;
  background-color: #8b0000;
}

.css-qh7kl5-MuiPaper-root h3 {
  color: #8b0000;
}
